.customRow {
  display: grid;
  /* card min widows: 300px; */
  grid-template-columns:repeat( auto-fit, minmax(300px, 1fr) );
  margin-bottom: 1em;
}

 .h4Inner {
  margin-left: .4em;
  color:#e9ecef
}
